server:
  port: 8089
  contextPath: /

knife4j:
  enable: true
  production: false
  documents:
  - group: 1.0.0
    name: 其他功能说明
    # 某一个文件夹下所有的.md文件
    locations: classpath:markdown/*

spring:
  application:
    name: rulateday-api

  datasource:
    url: jdbc:sqlite:data/rulateday-api.db
    username:
    password:


  profiles:
    swagger: true

pagehelper:
  helperDialect: sqlite
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql